@import '../utilidades/variables';
@import '../utilidades/mediaQueries';

.mainIndex {
    height: 100%;
    display: grid;
    grid-template-areas:
        "mujer"
        "planes"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.mainIndex__info {
    @include medidas(100%, 60vh);
    background: url(images/lavandaFondo5.jpg);
    @include background (no-repeat, cover, 14% 50%);
    color: $blanco;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    @include mobile {
        align-items: flex-start;
        padding-right: 5rem;
    }

    @include miniMobile {
        padding-right: 0;
        @include medidas(100%, 80vh);
    }

    & h3 {
        font-weight: 400;
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        padding-left: 1rem;
    }

    & p {
        width: 70%;
        line-height: 1.5rem;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 1.15rem;
        font-family: 'Montserrat', sans-serif;
        padding-left: 1rem;

        @include miniMobile {
            padding: 1rem;
            width: 100%;
        }
    }
}

.mainIndex__planes {

    & h2 {
        height: 100%;
        font-size: 2.5rem;
        font-family: 'Montserrat', sans-serif;
        justify-self: flex-start;
        margin-bottom: 3rem;
    }

    @include medidas(100%, 100%);
    text-align: center;
    background: url(images/lavandaFondo7.jpg);
    @include background (no-repeat, cover, 10% 65%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: planes;
    padding: 3rem 0;

    @include tablet {
        @include background (no-repeat, cover, 10% 100%);
    }
}

.mainIndex__planesDiv {
    height: 100%;
}

.plan {
    height: 20rem;
    align-self: flex-start;
    box-shadow: 5px 5px 7px $gris;
    overflow: hidden;
    border-radius: 1rem;
    background-color: $grisMuyClaro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .4s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1, 1.1);
    }

    & h3 {
        display: block;
        color: $casiBlanco;
        background-color: $lavandaClaro;
        height: 10%;
        font-size: 1.3rem;
    }

    &:hover>.plan__info :nth-child(3) {
        background: linear-gradient(to top, $lavanda1, $lavandaMuyClaro);
        -webkit-background-clip: text;
        color: transparent;
    }

    & h4 {
        display: inline;
        color: $negro;
    }

    & h5 {
        display: inline;
        color: $negro;

        @include miniMobile {
            font-size: 1rem;
        }
    }
}

.plan__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;

    & :nth-child(3) {
        display: block;
        margin: 1rem 0;
        border: none;
        color: $negro;
        font-size: 2.5rem;
        transition: all .5s ease;
    }
}

.planElegido {
    background: $blanco;
    @include medidas(40%, 70%);
    position: fixed;
    top: 20%;
    z-index: 1000;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px $gris;

    &__h3 {

        background: linear-gradient(to top, $lavanda1, $lavandaMuyClaro);
        -webkit-background-clip: text;
        color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
    }

    &__p {
        text-align: center;
    }

    &__div {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 2rem;
        }


    }

    &__contratar {
        background: none;
        border: none;
        font-size: 2rem;
        font-weight: lighter;

        &:hover {
            background: linear-gradient(to top, $lavanda1, $lavandaMuyClaro);
            -webkit-background-clip: text;
            color: transparent;
        }
    }

    &__botonCerrar {
        background: none;
        border: none;
        font-size: 2rem;
        font-weight: lighter;

        &:hover {
            background: linear-gradient(to top, rgb(109, 0, 0), rgb(253, 36, 36));
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}

.tarjeta {
    position: fixed;
    top: 30%;
    left: 30%;
    @include medidas (40%, 30%);
    background: $blanco;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px $gris;
    padding: 0.5rem;
    text-align: center;
    z-index: 10000;

    div {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    input {
        @include medidas (100%, 2.5rem);
        background: none;
        border: 1px solid $gris;
        border-radius: .2rem;
        font-size: 1.2rem;
        font-weight: lighter;
        padding-left: .5rem;


    }

    .btnComprar {
        background: none;
        border: none;
        font-size: 1.5rem;
        width: 50%;
        font-weight: lighter;

        &:hover {
            background: linear-gradient(to top, $lavanda1, $lavandaMuyClaro);
            -webkit-background-clip: text;
            color: transparent;
        }
    }

    .btnCancelar {
        background: none;
        border: none;
        font-size: 1.5rem;
        font-weight: lighter;
        width: 50%;

        &:hover {
            background: linear-gradient(to top, rgb(109, 0, 0), rgb(253, 36, 36));
            -webkit-background-clip: text;
            color: transparent;
        }
    }



}


.msjContratado {
    position: fixed;
    top: 40%;
    left: 37%;
    @include medidas (25%, 15%);
    background: $blanco;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px $gris;
    text-align: center;
    display: flex;
    align-items: center;

}

.oculto {
    opacity: 0;
    visibility: hidden;

}


.tarjetaPlan {

    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $casiBlanco;
    box-shadow: 2px 2px 10px rgb(58, 58, 58);
    top: 30%;
    left: 35%;
    color: $negro;
    padding: 1.5rem;
    border-radius: .5rem;
    @include medidas(30%, 50%);
    justify-content: space-around;
    align-items: center;
    z-index: 100000;

    div {
        width: 100%;
        display: flex;
        justify-content: space-around;

    }
}


.btnContratar2 {
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: lighter;

    &:hover {
        background: linear-gradient(to top, $lavanda1, $lavandaMuyClaro);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.botonCerrar2 {
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: lighter;

    &:hover {
        background: linear-gradient(to top, rgb(109, 0, 0), rgb(253, 36, 36));
        -webkit-background-clip: text;
        color: transparent;
    }
}

.msjErrorSesion {
    position: fixed;
    top: 40%;
    left: 37%;
    @include medidas (25%, 15%);
    background: rgb(252, 86, 100);
    color: $blanco;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px $gris;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 100001;
}

.msjErrorInicioSesion {
    position: fixed;
    top: 40%;
    left: 37%;
    @include medidas (25%, 30%);
    background: rgb(252, 86, 100);
    color: $blanco;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px $gris;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 100001;
}


.detalleContrato {
    position: fixed;
    top: 30%;
    left: 30%;
    @include medidas (35%, 60%);
    background: $lavanda1;
    color: $blanco;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px $gris;
    padding: 1.2rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 100001;

    h2 {
        @include medidas(100%, 20%);
    }

    p {
        @include medidas(100%, 20%);
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    div {
        @include medidas(100%, 100%);

        h3,
        h4,
        p,
        span {
            font-size: 1.5rem;
            font-weight: 600;

        }

        .elSpan {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}

.msjErrorTarjeta {
    position: fixed;
    top: 40%;
    left: 37%;
    @include medidas (30%, 30%);
    background: rgb(252, 86, 100);
    color: $blanco;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px $gris;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 100001;
}

.msjErrorCalendario {
    position: fixed;
    top: 40%;
    left: 37%;
    @include medidas (30%, 30%);
    background: rgb(252, 86, 100);
    color: $blanco;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px $gris;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 100001;
}

//CALENDARIO STYLE
/*
	Stylesheet for Tigra Calendar v5.0
	Product is Public Domain (Free for any kind of applicaiton, customization and derivative works are allowed) 
	URL: http://www.softcomplex.com/products/tigra_calendar/

	- all image paths are relative to path of stylesheet
	- the styles below can be moved into the document or in existing stylesheet

*/

/* input box in default state */
.tcalInput {
    background: url('img/cal.gif') 100% 50% no-repeat;
    padding-right: 20px;
    cursor: pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
    background-image: url('img/no_cal.gif');
}

/* container of calendar's pop-up */
#tcal {
    position: fixed;
    visibility: hidden;
    z-index: 100000;
    width: 170px;
    background-color: white;
    margin-top: 2px;
    padding: 0 2px 2px 2px;
    border: 1px solid silver;

    -moz-box-shadow: 3px 3px 4px silver;
    -webkit-box-shadow: 3px 3px 4px silver;
    box-shadow: 3px 3px 4px silver;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

/* table containing navigation and current month */
#tcalControls {
    border-collapse: collapse;
    border: 0;
    width: 100%;
}

#tcalControls td {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    width: 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#tcalControls th {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    white-space: nowrap;
}

#tcalPrevYear {
    background-image: url('img/prev_year.gif');
}

#tcalPrevMonth {
    background-image: url('img/prev_mon.gif');
}

#tcalNextMonth {
    background-image: url('img/next_mon.gif');
}

#tcalNextYear {
    background-image: url('img/next_year.gif');
}

/* table containing week days header and calendar grid */
#tcalGrid {
    border-collapse: collapse;
    border: 1px solid silver;
    width: 100%;
}

#tcalGrid th {
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 3px 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    background-color: gray;
    color: white;
}

#tcalGrid td {
    border: 0;
    border-collapse: collapse;
    padding: 2px 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    width: 14%;
    font-size: 11px;
    cursor: pointer;
}

#tcalGrid td.tcalOtherMonth {
    color: silver;
}

#tcalGrid td.tcalWeekend {
    background-color: #ACD6F5;
}

#tcalGrid td.tcalToday {
    border: 1px solid red;
}

#tcalGrid td.tcalSelected {
    background-color: #FFB3BE;
}